@model MvcPL.Models.RoleModel

@section Header{
    @{ViewBag.Title = "Detail Role";}
}

@section LeftMenu{
    <div class="panel-body">
        <ul class="nav nav-stacked">
            <li>@Html.ActionLink("Create new role", "Create")</li>
        </ul>
    </div>
}
@section Body{

    <h2>Details</h2>

    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RoleName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RoleName)
            </dd>

        </dl>
    </div>
    
}