@model MvcPL.Models.ParentModel


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfWork)
        </dd>

    </dl>
</div>
