@using MvcPL.Infrastructure
@model IEnumerable<MvcPL.Models.UserModel>
@section Header{
    @{ViewBag.Title = "Index user";}
}

@section LeftMenu{
    <div class="panel-body">
        <ul class="nav nav-stacked">
            <li>@Html.ActionLink("Create New user", "CreateUser", new {area = "Administrator", controller = "User"})</li>
        </ul>
    </div>
}
@section Body{
    <h2>All users</h2>
    @{
        var grid = new WebGrid(Model);
    }

    @grid.GetHtml(tableStyle: "table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style",

    columns: grid.Columns(
        grid.Column(columnName: "Surname", header: "Surname"),
        grid.Column(columnName: "Name", header: "Name"),
        grid.Column(columnName: "Patronymic", header: "Patronymic"),
        grid.Column(columnName: "Login", header: "Login"),
        grid.Column(columnName: "BirthDay", header: "BirthDay"),
        grid.Column(columnName: "City", header: "City"),
        grid.Column(columnName: "Street", header: "Street"),
                 grid.Column(format: (item) =>
                 {
                     var link = Ajax.ActionLink("Edit", "UserInformation", new { area = "Administrator", Controller = "User", idUser = item.Id }, new AjaxOptions()
                     {
                         UpdateTargetId = "informational",
                         Url = Url.Action("UserInformation", new { area = "Administrator", Controller = "User", idUser = item.Id })
                     });
                     return link;
                 }),
                grid.Column(format: (item) =>
                {
                    var link = Ajax.ActionLink("Details", "DetailUser", new { area = "Administrator", Controller = "User", idUser = item.Id }, new AjaxOptions()
                    {
                        UpdateTargetId = "informational",
                        Url = Url.Action("DetailUser", new { area = "Administrator", Controller = "User", idUser = item.Id })
                    });
                    return link;
                }),

                grid.Column(format: (item) =>
                {
                    var link = Ajax.ActionLink("Delete", "DeleteUser", new {area = "Administrator", Controller = "User", idUser = item.Id}, new AjaxOptions()
                    {
                        UpdateTargetId = "informational",
                        Url = Url.Action("DeleteUser", new {area = "Administrator", Controller = "User", idUser = item.Id})
                    });
                    return link;
                })
    ))
}