<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="SOYMModel" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;C:\Users\Merelin\documents\visual studio 2015\Projects\NET.W.2016.01.Lioshyn.FinishProject\MvcPL\App_Data\SOYMDB.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>