
@{
    ViewBag.Title = "AboutSchool";
}
<div class="templatemo_ourteam">
    <div class="container templatemo_hexteam">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="hexagon hexagonteam gallery-item">
                    <div class="hexagon-in1">
                        <div class="hexagon-in2" style="background-image: url(/images/team/1.jpg);">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-8 templatemo_servicetxt">
                <h2>The direction</h2>
                <p>
                    Director of the school of young mathematicians. Preodavatel, 4th year student.
                </p>
            </div>
            <div class="templatemo_servicecol2">
                <div class="col-md-3 col-sm-4">
                    <div class="hexagon hexagonteam gallery-item">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url(/images/team/2.jpg);">
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-8 templatemo_servicetxt">
                    <h2>Old director</h2>
                    <p>Director of the school of young mathematicians. Preodavatel, magistrant student.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <br/>
    <br/>
    <br />
    <div class="container templatemo_hexteam s_top">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="hexagon hexagonteam gallery-item">
                    <div class="hexagon-in1">
                        <div class="hexagon-in2" style="background-image: url(/images/team/3.jpg);">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-8 templatemo_servicetxt">
                <h2>The Cvietochki</h2>
                <p>Cvietochki</p>
            </div>
            <div class="templatemo_servicecol2">
                <div class="col-md-3 col-sm-4">
                    <div class="hexagon hexagonteam gallery-item">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url(/images/team/4.jpg);">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-8 templatemo_servicetxt">
                    <h2>The Kachelki</h2>
                    <p>Kachelki</p>
                </div>
            </div>
        </div>
    </div>
</div>