@{
    ViewBag.Title = "Index";
}
<p class="main-body">@ViewBag.ArticleTitle</p>


<h2>@ViewBag.ArticleBody</h2>

<h3>@Html.ActionLink("Administrator", "Index", new { area = "Administrator", controller = "Home" })</h3>
<br/>
<h3>@Html.ActionLink("Teacher", "Index", new { area = "Teacher", controller = "Home" })</h3>
