@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Requisition List", "Index", new {area = "Administrator", controller = "Requisition"}) |
@Html.ActionLink("User List", "Index", new {area = "Administrator", controller = "User"}) |
@Html.ActionLink("Registration", "Registration", new { area = "", controller = "Home" }) 